---
- name: Include RHEL tasks
  ansible.builtin.include_tasks: rhel.yml
  when: os is match("rhel.*") or os == "Red Hat BYOL Linux"

- name: Include Windows tasks
  ansible.builtin.include_tasks: win.yml
  when: os is match("windows.*") or os is match("2016.*") or os == "Windows"
